@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url("$lib/asset/PretendardVariable.woff2") format('woff2-variations');
}

@layer base {
    :root {
        --color-outline: #000000;
        --color-primary: #f59400;
        --color-primary-tinted: #8e8e93;
        --color-container: #aeaeb2;
        --color-background: #ffffff;

        --color-blue: #2962FF;
        --color-red: #ff3126;
        --color-orange: #ffa914;
        --color-yellow: #f5c400;

    }

    @media (prefers-color-scheme: dark) {
        :root {
            --color-outline: #EEEEEE;
            --color-primary: #ff912b;
            --color-background:#303030;

            --color-blue: #82B1FF;
            --color-red: #ff5044;
            --color-orange: #ffa914;
            --color-yellow: #ffe014;
        }
    }

    :root {
        --background: 0 0% 100%;
        --border: 0 0% 7%;

        --foreground: 0 0% 20%;

        --muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
    }
}

@layer base {
    html {
        font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    }
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-outline;
    }

    h1 {
        @apply scroll-m-20 text-7xl font-extrabold tracking-tight;
    }

    h2 {
        @apply scroll-m-20 text-4xl font-semibold tracking-tight;
    }

    h3 {
        @apply scroll-m-20 text-2xl font-semibold tracking-tight;
    }

    h4 {
        @apply scroll-m-20 text-xl font-semibold tracking-tight;
    }

    p {
        @apply leading-7;
    }

    .text-lead {
        @apply text-xl text-muted-foreground;
    }
    
    .button-small {
        @apply underline underline-offset-4 font-semibold;
    }
}

@layer components {
    .container {
        @apply md:px-4 xl:max-w-screen-xl self-auto;
    }

    .content--main > * {
        @apply p-4;
    }

    .content--main--large {
        @apply px-4 py-8;
    }
}